.App {
  text-align: center;
  min-width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.Card {
  width: 75%;
  height: 75%;
  border: black solid;
  border-width: .5rem .5rem 2rem .5rem ;
  border-radius: 25px;

  padding: 1rem 2rem 0rem 2rem;
  margin: auto;

  background: radial-gradient(circle at 0% 50%, rgba(96, 16, 48, 0) 9px, #99b19b 10px, rgba(96, 16, 48, 0) 11px) 0px 10px,
  radial-gradient(at 100% 100%,      rgba(96, 16, 48, 0) 9px, #99b19b 10px, rgba(96, 16, 48, 0) 11px),
  #506d4e;
  background-size: 20px 20px;
}

hr {
  height: 3px;
  color: black;
  background-color: #2d714c;
  width: 75%;
}

.BodyText {
  border: #2d714c 3px solid;
  background: rgba(255,255,255,.5) ;
  box-shadow: -4px  0px rgba(0,0,0,.5);
}

h1 {
  text-align: left;

  border: #2d714c 3px solid;
  margin: 0;
  Padding: 3px;

  background: #cad4cc;
  box-shadow: -4px  0px rgba(0,0,0,.5);
}

.CardPicture {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;

}

.ImageFrame {
  border: #2d714c 3px solid;
  height: 15rem;
  /* width: 75%; */
  box-shadow: -4px  0px rgba(0,0,0,.5);

}